<?xml version="1.0" encoding="utf-8" ?>
<configuration>

	<appSettings>
		<add key="DbConn_Ups" value="Data Source=L710\SQL2016;Initial Catalog=SrrV4R10Release;Integrated Security=true"/>
		<!--<add key="DbConn_Ups" value="Data Source=SDK\SQL2019;Initial Catalog=SrrV4R10Release;Integrated Security=true"/>-->
	</appSettings>
  
</configuration>